

body{
    align-self: auto;
    height: auto;
    background-color: white;
}

#perfil{
    align-items: left;
    align-self: auto;
    height: auto;
}


table {
    width: 200px;
    margin:  auto;
    height: 100px;
    background-size: cover;
    background-position: 50% 50%;
    text-align: center;
    place-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

#facebook {
    width: 50px;
    height: 50px;
    margin:  auto;
    border-radius: 50%;
    
}

#whatsaap {
    width: 50px;
    height: 50px;
    margin:  auto;  
    border-radius: 50%;
}

#Gmail {
    width: 50px;
    height: 50px;
    margin:  auto; 
    border-radius: 50%; 
}


#Usuario {
    width: 200px;
    height: 200px;
    margin:  auto; 
    border-radius: 50%; 
    text-align: left;
}

.Buscar_Empleado {
    width: 50px;
    height: 50px;
    margin:  auto; 
    border-radius: 50%; 
    text-align: left;
}

.Correo{
    width: 50px;
    height: 50px;
    margin:  auto; 
    border-radius: 50%; 
    text-align: left;
}

.Cargando{
    
    
    background-position: center center;
    background: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
   
    
}


.Salir {
    width: 50px;
    height: 50px;
    margin:  auto; 
    border-radius: 50%; 
    text-align: left;
}

.Buscar {
    width: 50px;
    height: 50px;
    margin:  auto; 
    border-radius: 50%; 
    text-align: left;
}

.Actualizar {
    width: 50px;
    height: 50px;
    margin:  auto; 
    border-radius: 50%; 
    text-align: left;
}

.Eliminar {
    width: 50px;
    height: 50px;
    margin:  auto; 
    border-radius: 50%; 
    text-align: left;
}

.Editar {
    width: 50px;
    height: 50px;
    margin:  auto; 
    border-radius: 50%; 
    text-align: left;
}


.Actualizar_Foto {
    width: 30px;
    height: 30px;
    margin:  auto; 
    border-radius: 50%; 
    text-align: left;
}

.container {
    position: relative;
    background-image:  url("https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25248.692420470692!2d-74.12540870094026!3d4.696979209876052!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9bfd2da6cb29%3A0x239d635520a33914!2zQm9nb3TDoQ!5e0!3m2!1ses!2sco!4v1699222161270!5m2!1ses!2sco");
}

.container .loader {
     width: 100px;
    height: 100px;
    border: solid 5px #064555;
    border-top: solid 5px #7cd6ec;
    border-radius: 50%;
    animation: loader .8s linear infinite;
}

@keyframes loader {
    0% {
        translate: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}

.container .message{
    position: absolute;
    color: #7cd6ec;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: message 1s alternate infinite ease-in-out;
 }

@keyframes message{
    0%{
        opacity: .2;
    }
    100%{
        opacity: 1;
    }
}

.Mapa2 {

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200vh;
    
}

